* {
  margin:0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
  
}
.container {
  max-width: 400px;
  margin: 0 auto;

}
h1 {
  text-align: center;
}
.searchForm {
display: flex;
flex-direction: column;
width: 100%;
margin: 0 auto;
}

.fileupload {
  margin:0 auto;
  width: 50%;
 display: flex;
}
img {
  width:100%
}



















.file{
font-size: 28px;
display:flex;
justify-content: space-around;
padding-bottom: 200px;
}

table{
  width: 100%;
}

    .btndiv{
      display:flex;
      justify-content: center;
    }


 .btn {
        display: inline-block;
        background-color: #023f00;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 14px;
        padding: 20px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        display: flex;
        justify-content: center;
      }
      .btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      .btn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      .btn:hover {
        background-color: #477c4a;
      }
      .btn:hover span {
        padding-right: 25px;
      }
      .btn:hover span:after {
        opacity: 1;
        right: 0;
      }